.button-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.change-color-button {
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	background-color: #2f5f02; /* Color del botón */
	color: white;
	cursor: pointer;
	margin-right: 10px;
}
.return-button {
	position: absolute;
	top: 10px;
	left: 10px; /* Ajusta la posición según tu preferencia */
	cursor: pointer;
}